<html>

<head>
    <title>
        Cart - India Handlooms website
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="\static\images\icon\logo1.png">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginstyle.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>


{% block content %}
<style>
    body {
        background-image: url(../../static/images/img/admin.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<body style="background-color:rgb(243, 252, 253);">
    <header>
        <!-------Navigationbar------>
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/" style="color: white;">
                    <img src="\static\images\icon\logo1.png" alt="" width="60" height="60"> India Handlooms
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="Home" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="about" href="/about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="database" href="/database">WEAVERS DATABASE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact" href="/contact">CONTACT US</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">

                        <!-- <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="profile" href="/profile">Profile</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="profile" href="/order/{{email}}">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="logout" href="/logout">Logout</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="login" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="signUp" href="/sign-up">Sign Up</a>
                        </li> -->

                    </ul>
                </div>

            </nav>

            {% with messages = get_flashed_messages(with_categories = true) %} {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            {% endif%} {% endfor%} {% endif %} {% endwith %}

        </section>
        <!--<div style="background-image: url(../images/img/stateimg.jpeg);">-->
        <br><br><br>
        <h3>Cart</h3>
        <style>
            h3 {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
                font-weight: bold;
                background-size: contain;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 35px;
            }
        </style>
        <br>

        </div>
        <div class="container">
            <form method="POST" id="my_form" class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-2" style="font-weight: bold;">
                    <label for="oid" class="col-sm-2 col-form-label">Order ID: </label>
                </div>
                <div class="col-2" style="font-weight: bold;">

                    <input type="text" name="oid" class="form-control" id="oid" placeholder="" form="my_form" />
                </div>
                <div class="col-5" style="padding-left: 550px;">
                    <button type="submit" class="btn btn-primary" style="outline-color: rgb(250, 244, 244); width: 200px;" form="my_form">Confirmed</button>
                </div>
            </form>

            <table class="table">
                <style>
                    table,
                    th,
                    td,
                    thead {
                        text-align: center;
                        border: 3px solid black;
                        font-family: 'Times New Roman', Times, serif;
                        background-color: rgb(248, 250, 246);
                        font-size: large;
                        font-weight: 900;
                        font-style: italic;
                        border-collapse: collapse;
                    }
                </style>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Payment method</th>
                        <!-- <th scope="col">Edit</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for c in user %}
                    <tr>
                        <!-- <td><input type="text" name="oid" class="form-control" id="oid" placeholder="{{ c.id }}" form="my_form" value="{{ c.id }}" /></td> -->
                        <td>{{ c.id }}</td>
                        <td>{{ c.product_name }}</td>
                        <td>{{ c.quantity }}</td>
                        <td>{{ c.price }}</td>
                        <td>{{ c.status }}</td>
                        <td>Cash on Delivery</td>
                        <!-- <td><button type="submit" class="btn btn-primary" style=" outline-color: rgb(250, 244, 244);" form="my_form" >Edit<br></td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </header>
</body>

</html>
{% endblock %}